@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');
:root{
 --primary-color:#6ea0e5;
 --secondary-color:#ff0000;
 --tertiary-color:#2196f3;
 --color-black:#795548;
 --color-white:#9e9e9e;
 --color-gray:#d3d3d3;
 --color-yellow:#fffde7;

}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
h1,
h4,
h5,
h6 {
  font-family:"Edu QLD Hand";
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}
nav,section{
	padding:16px 150px;
  margin-bottom: 40px;
}
nav{
	display:flex;
	justify-content: space-between;
	padding:14px 30px;
	background-color: var(--primary-color);
	size:150px;
}
nav h3{
	color:var(--color-yellow);
	font-size:36px;
}
nav ul{
	display:flex;
	list-style:none;
	gap:18px;
}
nav ul a{
	color:var(--color-yellow);
	text-decoration: none;
	font-size: 20px;
}
.hamburger img {
  width: 80px;
  height: 50px;
  object-fit: contain;
}
#hero{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding:16px;
    min-height: 80vh;
}
.hero-image{
	height: 250px;
    width: 250px;
    object-fit: cover;
    border:5px solid var(--color-black);
    border-radius: 50%;
}
.hero-text {
  display: flex;
  flex-direction: column;
}


.hero-text h2{
	font-size:30px;
	margin-bottom:5px;
	color:var(--secondary-color);
}
.hero-text span{
	font-size:30px;
	color:var(--primary-color);
}
p.hero-desc{
	font-family:"Edu QLD Hand";
	max-width:400;
	color:var(--color-black);
  font-size:18px;
}
button,
.btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
#hero button{
	background-color:var(--primary-color);
	color:var(--color-yellow);
	font-size:20px;
}
#hero button:hover{
	color:var(--secondary-color);
}
footer p{
	color:var(--color-black);
	font-size: 25px;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	align-items: center;
	height:fit-content;
}
body{
	color:var(--color-white);
	background-color:lightgray;
}

/* project section start*/
#projects{
	align-text:left;
	display:flex;
	justify-content: space-around;
	min-height: 70vh;
	padding:15px;
 background-color:linen;
 flex-direction: column;
 padding:20 30;
}
.title{
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-bottom:40px;
}
p.sub-title{
	font-size:20px;
	font-weight: 400;
	font-family: Edu QLD Hand;
	color:var(--color-black);
	opacity: 0.9;
	max-width: 550px;
  gap:10px;
  margin:10px;
}
.title h2{
	font-size: 30px;
	color:var(--secondary-color);
}
.project-card {
  border: 2px solid var(--color-accent);
  border-radius: 6px;
  overflow: hidden;
}
.project-image {
  overflow: hidden;
  width: 100%;
}
.project-card img{
	width: 100%;
  object-fit: cover;
  height: 300px;
  transition: 0.3s all ease-in-out;
}
.project-card .card-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 14px;
}

p.card-description {
  font-size: 18px;
  font-weight: 300;
  font-family:"Edu QLD Hand";
  margin:10px;
  max-width:500;
  color:var(--color-black);
}

.project-card a {
  text-decoration: none;
  font-size: 18px;
  background-color: var(--primary-color);
  width: fit-content;
  padding: 3px;
  font-family: "Chivo", sans-serif;
  border-radius: 2px;
  color: var(--color-yellow);
}
.project-card a:hover{
  color:var(--secondary-color);
}

.project-list{
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	gap:40px;
}
.project-card:hover img {
  transform: scale(1.1);
}
h4.card-title{
	color:var(--secondary-color);
  min-width: 500;
}
/*About section*/
#about{
	display: flex;
	min-height: 70vh;
  background-color:linen;
}
.details h4{
	font-size: 30px;
	color:var(--secondary-color);
}
.details p{
	font-family:"Edu QLD Hand";
	font-size:18px;
	max-width:460;
	color:var(--color-black);
	margin:10px;
	display: flex;
	flex-direction: column;
	gap:15px;
}
.social-links a{
	font-size: 20px;
	color:var(--primary-color);
	margin:20px;
	text-decoration: none;
	text-align:left;
}
section#about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
  /*padding-right:100px;*/
}

#about .details {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 600px;
}

#about .about-img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  border: 5px solid var(--color-black);
  transition: 0.3s all ease-in-out;
}
#about .about-img:hover {
  transform: scale(1.1);
}
#about .social-links {
  display: flex;
  gap: 8px;
}

#about .social-links img {
  width: 36px;
}

/* About section End */

/* Contact Section Start */
#contact{
  background-color: linen;
}
section#contact form {
  width: fit-content;
  margin-inline: auto;
}

section#contact form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color:var(--primary-color);
}

section#contact form .inputs {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#contact p.sub-title{
  max-width: 500;
  font-size:18px;
}
section#contact label {
  font-size: 23px;
}
input,
textarea {
  border:3px solid var(--color-black);
  outline: none;
  font-size: 16px;
  padding: 8px 16px;
  width: 300px;
  color: var(--color-white);
}
:root{
  --placeholder-focus: #ccc;
}
input::placeholder {
  color: var(--color-black);
  opacity: 1;
  font-weight: 400;
}
textarea::placeholder {
  color: var(--color-black);
  opacity: 1;
  font-weight: 400;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: var(--placeholder-focus);
}
input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  color: var(--color-black);
}
#contact form button.btn-secondary {
  background-color:var(--primary-color);
  color:var(--color-yellow);
    font-size: 25px;
}
#contact form button.btn-secondary:hover{
  color:var(--secondary-color);
}

/* Contact Section End */

/* Footer Section Start */
section#footer {
  margin-bottom: 10px;
}
/* Footer Section End */

/* Media Queries */
@media (max-width: 1280px) {
  nav,
  section {
    padding-inline: 24px;
  }

  h2 {
    font-size: 28px;
  }
  p {
    font-size: 16px;
  }

  .hero-desc {
    max-width: 400px;
  }

  .hero-image {
    height: 300px;
    width: 300px;
    transition: 0.3s all ease-in-out;
  }
#hero .hero-image:hover {
  transform: scale(1.1);
}
  #hero {
    min-height: 60vh;
    background-color: linen;
  }

  .project-list {
    grid-template-columns: repeat(2, 300px);
    place-content: center;
  }
}
/* Sidebar */
.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: var(--primary-color);
  padding: 24px 48px;
  z-index: 999;
  display: none;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  color:var(--secondary-color);
  font-size: 20px;
}
.sidebar ul a{
  color:var(--color-yellow);
  font-size: 30px;
}

.sidebar-menu {
  position: relative;
  width: 100px;
  height: 100px;
}

.sidebar .close-btn {
  position: absolute;
  top: 5px;
  margin:60px;
  right: -165px;
  width: 30px;
}
@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}

/* Hamburger styling */
.hamburger {
  cursor: pointer;
  z-index: 1100; /* above sidebar */
  position: fixed;
  top: 8px;
  right: 20px;
}
.close-btn {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin:20px;
}
html{
  scroll-behavior: smooth;
}
@media (max-width: 480px) {
  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 500px) {
  .hamburger {
    display: block!important;
    background-color: var(--secondary-color);
  }

  nav ul {
    display: none;
  }
}

.active {
  display: flex;
}
nav h3 img.logo{
  height:59px;
  width:59px;
  trasition:0.3s all ease-in-out;
  border-radius: 60%;
  position:relative;
  left:-10;

}
nav h3 img.logo:hover{
  transform:scale(1.1);
}
a #color_palette{
  max-width: 500;
}